<?xml version="1.0" encoding="UTF-8" standalone="no"?><config>
    <conf directory="C:/ggg"/>
    <file identifier="12a658fc961ba21b51017736bb86a7ee" name="1.txt"/>
    <file identifier="d41d8cd98f00b204e9800998ecf8427e" name="2.txt"/><file identifier="c81e728d9d4c2f636f067f89cc14862c" name="3.txt"/>
    <file identifier="df52eb69df81e02939bbbcdf7dd4398e" name="4.txt"/></config>